
body {
  margin: 0;
  padding: 0;
  margin-left: 2rem;
}

.container {
  width: 512px;
  height: 512px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.grids {
  margin: 0;
  padding: 0;
}

.grids:hover {
  background-color: lightgray;
}

#size {
  padding: 5px 20px;
  margin-bottom: 1rem;
}